* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color: black;
  --bg-color: rgba(177, 172, 172, 0.463);
}
div.App {
  background: var(--bg-color);
  height: minmax(100vh);
}

/* Grid component training start */
div.grid {
  display: grid;
  /* gap: 0.5vw; */
  grid:
    [nav] 'x2 x4 x4' minmax(10vh, auto) [nav]
    [main] 'x2 x3  x3' minmax(65vh, auto) [main]
    [footer] ' x7 x7 x5' minmax(20vh, auto) [footer]
    [footer] 'x1 x1  x1' minmax(5vh, auto) [footer]
    / auto 80vw 10vw;
}

div.x {
  border-radius: 0.3rem;
  text-align: center;
}

@import url('nav.css');
@import url('main.css');
@import url('footer.css');
@import url('side.css');
@import url('reducer.css');
@import url('todo.css');


div.x.x6 {
  background: red;
  grid-area: x6;
  grid-column: 2/3;
  grid-row: 2/2;
}

/* Grid component training end */
