div.x.x1 {
  background: white;
  grid-area: x1;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
 
div.x.x1 form{
  padding: .7rem;
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

div.x.x1 .nav-buttons{
  padding: .7rem;
  display: flex;
  gap: 1rem;

}

div.x.x1 .nav-buttons>*{
  cursor: pointer;
  padding: .2rem;
  border-radius: .2rem;
  user-select: none;
  border: 1px solid black;
}